.searchBar{
    text-align: center;
    padding: 20px;
}
.searchBar input{
    width: 300px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(142,142,142,0.74);

    
}